:root { 
--gray_901:#2a2a2a; 
--gray_902:#292929; 
--gray_900:#1d1f22; 
--gray_800_38:#39374838; 
--bluegray_100:#d3d2d5; 
--gray_200:#eeeeee; 
--gray_300:#e5e5e5; 
--green_400:#5ece7b; 
--white_A700_87:#ffffff87; 
--bluegray_800:#43464e; 
--white_A700_33:#ffffff33; 
--green_A700:#1dcf65; 
--gray_500_30:#a8acb030; 
--teal_800:#0e634f; 
--black_900:#000000; 
--bluegray_400:#8d8f9a; 
--yellow_900:#e98020; 
--cyan_600:#15a4c3; 
--white_A700:#ffffff; 
}